.logo{
    content: url('/image/logo.png');
    width: auto;
    height: 100%;
}

.header > nav{
    height: 150px;
}

div.menu{
    -webkit-transition: .3s ;
    -moz-transition: .3s ;
    -o-transition: .3s ;
    transition: .3s;
}

div.show{
    padding-bottom: -64px;
}

.hide{
    height: 0px;
}

@media only screen and (max-width: 992px){
    .logo{
        content: url('/image/logoM.png');
        width: auto;
        height: 100%;
    }

    .header > nav{
        height: 60px;
    }
}