### Other Things ###

/forum/
/owncloud/
/photo/
/s/
/pdfGen/
/development/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
settings.php

### File types to ignore ###
*.psd