Options +FollowSymlinks
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^([a-zA-Z0-9]+)$ ?page=$1
    RewriteRule ^([a-zA-Z0-9]+)/$ ?page=$1

	RewriteBase /s/ /
	
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>